body{
    margin: 0;
    background-image: url("/images/backgrund.png");
    background-repeat: no-repeat;
    background-size: cover;
    

 
}

.container  {
    position: relative;
    background-color: white;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-bg-dark {
    margin-bottom: 1em;
}

.task-area {
    border :1px solid lightgray;
    margin-top: 2em;
}
.tabs {
    position: relative;
    display: flex;   
    border-bottom :1px solid lightgray;
}
.tabs div {
    padding: 1em;
    
}
#bottom_line{
    position: absolute;
    top: 53px;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 60px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    padding: 0;
}
.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom :1px solid lightgray;
    
}
.task:last-child {
    border-bottom: none;
 }



.valid-feedback {
    display: inline;
}

.foot-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}